<div id="employee">
  <p>Number:
    <input data-bind="value: rowData().EMPNO" />
  </p>
  <p>Name:
    <input data-bind="value: rowData().ENAME" />
  </p>
  <p>Job:
    <input data-bind="value: rowData().JOB" />
  </p>
  <p>Manager:
    <input data-bind="value: rowData().MGR" />
  </p>
  <p>Hire Date:
    <input data-bind="value: rowData().HIREDATE" />
  </p>
  <p>Salary:
    <input data-bind="value: rowData().SAL" />
  </p>
  <p>Commission:
    <input data-bind="value: rowData().COMM" />
  </p>
  <p>Department Number:
    <input data-bind="value: rowData().DEPTNO" />
  </p>
</div>